{% extends "base.html" %}


{% block content %}
<div class="container">
    <div  style="text-align: center;">
        <h3>Flask Project created</h3>
    </div>
    <div style="text-align: left;">
        <h5>Project has following directory structure</h5>
        <ul>
            <li>app</li>
            <ul>
                <li>commands</li>
                <li>models <p class="text-muted">all detabase models</p></li>
                <li>static
                    <p  class="text-muted">style, javascript content</p>
                </li>
                <li>templates
                    <p  class="text-muted">html content</p>
                </li>
                <li>views</li>

            </ul>
            <li>tests</li>
        </ul>
    </div>
    <div>
        <p>This is starter template</p>
        <p>Please edit local_settings as per your requirement</p>
    </div>
</div>
{% endblock content %}